$bg-white: #ffffff;
$bg-op-white: rgb(255 255 255 / 50%);
$primary-bg: #f9fafc;
$primary-yellow: #fed268;
$primary-yellow-lighter: #fff2d2;
$primary-yellow-bg: #fed268a3;
$success-green: #2da44e;
$header-bg-whitish: #f9fafc;
$grey-text-g1: #d0d2d5;
$primary-grey-g1: #f8f8f8;
$primary-grey-g2: #828282;
$primary-grey-bg: #dadada;
$primary-grey-border: #f0f0f0;
$bg-black-lighter: #2020202b;
$primary-black: #000000;
$primary-black-b1: #212121;
$primary-blue: #9adae9;
