@import 'src/app/@theme/colors';

:host {
	padding: 24px 20px 0 0;
	margin-left: 6.5rem;
}

.create-clientphq {
	padding: 0;
	&__caption {
		font-size: 12px;
	}
	&__title {
		font-weight: 500;
	}
	&__htitle {
		font-size: 20px;
		color: $primary-grey-g2;
		font-weight: 600;
	}
	&__step1 {
		&__form-field {
			max-width: 100%;
			min-width: 100%;
		}
		&__avtarBox {
			height: 60px;
			width: 60px;
			border: 3px solid $primary-grey-bg;
			border-radius: 50px;

			&__avtar {
				background-image: url('../../../../../assets/images/woman.svg');
				height: 50px;
				width: 50px;
				border-radius: 50%;
				flex-shrink: 0;
				object-fit: cover;
			}
		}
		&__bio {
			max-width: 500px;
			min-width: 500px;
			&__name {
				color: $primary-grey-g2;
				font-size: 16px;
				font-weight: 600;
			}
			&__content {
				color: $primary-grey-g2;
				font-size: 14px;
			}
		}
		&__section {
			width: 100%;
		}
		&__label {
			font-size: 14px;
			font-weight: 500;
			color: $primary-grey-g2;
			padding-bottom: 0 !important;
			position: relative;
			&__option {
				font-size: 14px;
				color: $primary-grey-g2 !important;
				font-weight: 600;
			}
			&__select {
				width: 100%;
				color: $primary-grey-g2;
			}
		}
		&__moreBtn {
			font-size: 12px;
			padding-left: 3px;
		}
	}

	&__step2 {
		&__calendar {
			border: 1px solid $primary-grey-border;
			border-radius: 5px;
		}
		&__label {
			font-size: 14px;
			font-weight: 500;
			color: $primary-grey-g2;
		}
		&__timeBtn {
			margin: 15px;
			padding: 3px 15px;
			border-radius: 5px !important;
			color: $primary-grey-g2;
			border: 1px solid $primary-grey-g2;
			&__selected {
				color: $primary-bg;
				background-color: $primary-grey-g2;
			}
		}
	}

	&__step3 {
		width: 450px;
		// max-height: 500px;
		overflow: auto;
		&__prepaid {
			background-color: $primary-grey-g1;
			padding: 12px;
			border-radius: 5px;
		}

		&__prepaidDisabled {
			color: $grey-text-g1;
		}

		&__session {
			padding: 12px;
			font-size: 12px;
			&__price {
				font-size: 14px;
				color: $primary-grey-g2;
			}
			&__type {
				font-size: 14px;
				color: $primary-grey-g2;
			}
		}
		&__label {
			font-size: 14px;
			font-weight: 500;
			color: $primary-grey-g2;
			position: relative;
		}
	}

	&__stepActions {
		padding: 20px;
		&__btn {
			color: $primary-yellow !important;
			border: 1px solid $primary-yellow !important;
		}
	}
}
