@import 'src/app/@theme/colors';

:host {
	display: block;
	padding-right: 12px;
	margin-left: 6.5rem;
}

.mw-groups {
	padding: 12px 0;
	&__title {
		height: 50px;
	}
	&__dd {
		font-size: 10px;
	}

	&__dpicker {
		width: 12px;
		visibility: hidden;
	}

	&__moreBtn {
		font: 300 11px / 20px 'Poppins';
		text-decoration: underline;
		pointer-events: pointer;
		color: $primary-grey-g2;
	}
}

@media only screen and (max-width: 960px) {
	:host {
		margin-left: 0rem;
		padding: 14px 20px;
	}
}
