<!-- cancelled Appointment, Classes and Groups -->
<div class="mw-dialog-cancel">
	<div
		fxLayout="column"
		fxLayoutGap="10px"
		class="mw-dialog-congrat__close"
		fxLayoutAlign="end end"
	>
		<button mat-icon-button (click)="handleNo()">
			<mat-icon>close</mat-icon>
		</button>
	</div>

	<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
		<div fxFlex fxLayout="row">
			<img src="assets/images/warning.png" class="p-r-15" />
			<div class="mw-dialog-congrat__title">Are You Sure</div>
		</div>
		<div class="mw-dialog-congrat__sub-title m-t-10 m-b-20">
			Do you want to change this from a {{type == "C"? "Group": "Class"}}
			to a {{type | classTypeLabel}}?
		</div>
		<div fxFlex fxLayout="row" fxLayoutAlign="end" class="p-b-20">
			<div fxFlex></div>
			<button
				mat-stroked-button
				(click)="handleYes()"
				class="m-l-20"
				[mat-dialog-close]="true"
			>
				Yes
			</button>
			<button mat-stroked-button class="m-l-20" (click)="handleNo()">
				No
			</button>
		</div>
		<div
			fxFlex
			fxLayout="row"
			fxLayoutGap="30px"
			class="mw-dialog-congrat__info p-20"
		></div>
	</div>
</div>
