<div fxFlex class="mw-create-class-config">
	<mat-card class="p-0">
		<div fxLayout="row" fxLayoutAlign="start center">
			<div>
				<button mat-icon-button color="primary" (click)="goBack()">
					<mat-icon>keyboard_arrow_left</mat-icon>
				</button>
			</div>
			<div>
				<mat-card-title
					class="p-t-15 p-b-10"
					*ngIf="name;else nameTemplate"
					>{{name}}</mat-card-title
				>
				<ng-template #nameTemplate>
					<mat-card-title class="p-t-15">New Group</mat-card-title>
				</ng-template>
				<mat-card-subtitle
					*ngIf="description;"
					[innerHtml]="description | mworxTruncate: 100:true:'...' "
				>
				</mat-card-subtitle>
			</div>
		</div>

		<mat-divider></mat-divider>
		<mat-card-content>
			<mat-spinner *ngIf="isLoading"> </mat-spinner>
			<form class="example-container p-30" #options="ngForm">
				<div fxLayout="column">
					<mat-tab-group
						[orientation]=""
						fxFlex
						fxFlexLayout="column"
						selectedIndex="0"
					>
						<!-- type -->
						<mat-tab fxFlexLayout="column">
							<ng-template mat-tab-label>
								<mat-icon class="p-r-10 p-l-10">style</mat-icon>
								Type
							</ng-template>
							<div
								fxLayout="row"
								fxFlex="100"
								class="p-t-15 p-b-10 p-l-15"
								fxLayoutAlign="start start"
							>
								<div fxLayout="column">
									<div
										fxLayout="row"
										fxLayoutAlign="space-between center"
									>
										<mat-label fxFlex="120px" class="p-b-15"
											>Category</mat-label
										>
										<mat-form-field
											fxFlex
											appearance="outline"
										>
											<mat-select
												required
												name="categoryId"
												[(ngModel)]="categoryId"
											>
												<mat-option
													*ngFor="let rec of categoryList"
													[value]="rec.SK"
													>{{ rec['Details.Name']
													}}</mat-option
												>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div
									fxLayout="column"
									fxFlex
									class="m-r-20"
									fxLayoutAlign="end end"
								>
									<mat-button-toggle-group [(ngModel)]="type">
										<mat-button-toggle
											value="C"
											(change)="onClassChange($event)"
											>Class</mat-button-toggle
										>
										<mat-button-toggle value="G"
											>Group</mat-button-toggle
										>
									</mat-button-toggle-group>
								</div>
							</div>
						</mat-tab>
						<!-- Settings -->
						<mat-tab>
							<ng-template mat-tab-label>
								<mat-icon class="p-r-10 p-l-10"
									>settings</mat-icon
								>
								Settings
							</ng-template>
							<div
								fxFlex
								fxFlexLayout="column"
								fxLayoutAlign="start start"
							>
								<section
									class="
										example-section
										mw-create-class-config__w
										p-20
										m-r-20
									"
								>
									<h4>Choose Access:</h4>
									<p>
										<mat-checkbox
											color="primary"
											[checked]="isPublished"
											(change)="onChangePublish($event)"
											>Publish</mat-checkbox
										>
									</p>
									<p>
										<mat-checkbox
											[checked]="isOpen"
											(change)="onChangeOpen($event)"
											color="primary"
											>Open Access</mat-checkbox
										>
									</p>
								</section>
								<section
									class="m-t-20 mw-create-class-config__w"
								>
									<h4>Choose :</h4>
									<mat-radio-group
										aria-label="Select an option"
										fxLayout="column"
										fxLayoutGap="15px"
										(change)="onChangeOpenEnded($event)"
										[value]="groupType"
									>
										<mat-radio-button
											value="O"
											color="primary"
											>Open Ended</mat-radio-button
										>
										<mat-radio-button
											disabled
											value="F"
											color="primary"
											>Fixed Length</mat-radio-button
										>
									</mat-radio-group>
								</section>
							</div>
						</mat-tab>
						<!-- Online Forms -->
						<mat-tab>
							<ng-template mat-tab-label>
								<mat-icon class="p-r-10 p-l-10"
									>settings_system_daydream</mat-icon
								>
								Forms
							</ng-template>
							<div
								fxFlex
								fxFlexLayout="column"
								fxLayoutAlign="start start"
							>
								<section
									class="
										example-section
										p-20
										mw-create-class-config__w
									"
								>
									<h4>Choose Non-Clinical Forms:</h4>
									<p *ngFor="let rec of nonClinicalFormsList">
										<mat-checkbox
											[value]="rec.SK"
											color="primary"
											[checked]="savedForms && savedForms.indexOf(rec.SK) > -1"
											(change)="onFormChange($event, rec)"
											>{{rec['Details.Name']}}</mat-checkbox
										>
									</p>
								</section>
								<section
									class="
										example-section
										p-20
										mw-create-class-config__w
									"
								>
									<h4>Choose Clinical Forms:</h4>
									<p *ngFor="let rec of clinicalFormsList">
										<mat-checkbox
											[value]="rec.SK"
											color="primary"
											[checked]="savedForms && savedForms.indexOf(rec.SK) > -1"
											(change)="onFormChange($event, rec)"
											>{{rec.Name}}</mat-checkbox
										>
									</p>
								</section>
							</div>
						</mat-tab>
						<!-- Pending Request -->

						<mat-tab *ngIf="groupId && isOpen!=true">
							<ng-template mat-tab-label>
								<mat-icon class="p-r-10 p-l-10"
									>schedule</mat-icon
								>
								Pending Request
							</ng-template>
							<div
								class="p-30"
								fxLayout="column"
								fxLayoutGap="40px"
								fxLayoutAlign="center start"
								fxLayoutAlign.lt-md="center center"
							>
								<mw-data-table
									[columnDefs]="columnPendingDefs"
									[rowData]="pendingList$ | async"
									[frameworkComponents]="frameworkComponents"
									[context]="gridContext"
									class="mat-tab-group__gridList"
								>
								</mw-data-table>
							</div>
						</mat-tab>
						<!-- Approve -->
						<mat-tab *ngIf="groupId && isOpen!=true">
							<ng-template mat-tab-label>
								<mat-icon class="p-r-10 p-l-10"
									>beenhere</mat-icon
								>
								Approve
							</ng-template>
							<div
								class="p-30"
								fxLayout="column"
								fxLayoutGap="40px"
								fxLayoutAlign="center start"
								fxLayoutAlign.lt-md="center center"
							>
								<mw-data-table
									[columnDefs]="columnApproveDefs"
									[rowData]="approvedList$ | async"
									[frameworkComponents]="frameworkComponents"
									class="mat-tab-group__gridList"
								>
								</mw-data-table>
							</div>
						</mat-tab>
						<!-- Denied -->
						<mat-tab *ngIf="groupId && isOpen!=true">
							<ng-template mat-tab-label>
								<mat-icon class="p-r-10 p-l-10"
									>cancel</mat-icon
								>
								Denied
							</ng-template>
							<div
								class="p-30"
								fxLayout="column"
								fxLayoutGap="40px"
								fxLayoutAlign="center start"
								fxLayoutAlign.lt-md="center center"
							>
								<mw-data-table
									[columnDefs]="columnDenyDefs"
									[rowData]="deniedList$ | async"
									[frameworkComponents]="frameworkComponents"
									class="mat-tab-group__gridList"
								>
								</mw-data-table>
							</div>
						</mat-tab>
					</mat-tab-group>
					<mat-toolbar
						class="mw-create-class-config__actions p-20"
						fxFlex
						fxLayoutAlign="end center"
						fxLayoutGap="20px"
					>
						<button
							mat-flat-button
							(click)="doSave()"
							[disabled]="!options.valid"
							color="primary"
						>
							Save
						</button>
					</mat-toolbar>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
