@import 'src/app/@theme/colors';

:host {
	padding-right: 12px;
	margin-left: 6.5rem;
	display: block;
}

.mw-company-profile {
	padding: 12px 0px;
	&__title {
		height: 50px;
	}
	&__dd {
		font-size: 10px;
	}

	&__dpicker {
		width: 12px;
		visibility: hidden;
	}
}
