@import 'src/app/@theme/colors';

:host {
	display: block;
	padding-right: 12px;
	margin-left: 6.5rem;
}

.mw-billing {
	padding: 12px 0;
	&__dd {
		font-size: 14px;
	}
}
@media only screen and (max-width: 960px) {
	:host {
		margin-left: 0rem;
		padding: 14px 20px;
	}
}
