@import '/src/app/@theme/colors';
.mw-btn {
	&__appt-btn {
		max-width: 120px;
		min-width: 120px;
	}
}
.mat-button-disabled {
	color: $primary-black-b1 !important;
	border: none !important;
	font-size: 13px !important;
	font-weight: normal;
}
.mw-grid-action {
	&__timer {
		line-height: 20px;
		color: $primary_yellow;
		font: 400 14px / 20px 'Poppins';
		max-width: 100px;
		min-width: 100px;
	}
	&__loading {
		position: absolute;
		width: 100%;
		background: rgb(255 255 255 / 50%);
		height: 100%;
		z-index: 1;
		margin-left: -30px;
	}
	&__start {
		font: 400 10px / 20px 'Poppins';
		color: $primary_grey_g2 !important;
	}
}
