@import 'src/app/@theme/colors';

:host {
	padding: 24px 20px 0 0;
	margin-left: 6.5rem;
}
::ng-deep.create-app
{
	.mat-calendar-body-cell.selected {
		background-color: $primary-yellow-bg !important;
		border-radius: 50%;
	}
}
.create-app {
	
	padding: 0;
	&__caption {
		font-size: 12px;
		color: $grey-text-g1;
	}
	&__header {
		font: 500 18px / 20px 'Poppins';
	}
	&__step1 {
		&__avtarBox {
			height: 60px;
			width: 60px;
			border: 3px solid $primary-yellow-bg;
			border-radius: 50px;

			&__avtar {
				background-image: url('../../../../assets/images/woman.svg');
				height: 50px;
				width: 50px;
				border-radius: 50%;
				flex-shrink: 0;
				object-fit: cover;
			}
		}

		&__moreBtn {
			font-size: 12px;
			padding-left: 3px;
			line-height: 14px;
		}
	}

	&__step2 {
		&__calendar {
			border: 1px solid $primary-grey-border;
			border-radius: 5px;
			width: 350px !important;
		}
		&__or {
			display: flex;
			align-items: center;
			text-align: center;
			width: 100%;
		}

		&__or::before,
		&__or::after {
			content: '';
			flex: 1;
			border-bottom: 1px solid $grey-text-g1;
		}

		&__or:not(:empty)::before {
			margin-right: 0.25em;
		}

		&__or:not(:empty)::after {
			margin-left: 0.25em;
		}
		&__timeBtn {
			margin: 10px;
			padding: 3px 15px;
			border-radius: 5px !important;

			&__selected {
				color: $primary-black;
				background-color: $primary-yellow-bg;
			}
		}

		&__price {
			&__prepaid {
				width: 100% !important;
				background-color: $primary-grey-g1;
				padding: 12px;
				border-radius: 5px;
			}

			&__prepaidDisabled {
				color: $grey-text-g1;
			}

			&__session {
				padding: 12px;
				font-size: 12px;
			}
		}
	}

	&__step3 {
		width: 450px;
		max-height: 500px;
		overflow: scroll;
		&__prepaid {
			background-color: $primary-grey-g1;
			padding: 12px;
			border-radius: 5px;
		}

		&__prepaidDisabled {
			color: $grey-text-g1;
		}

		&__session {
			padding: 12px;
			font-size: 12px;
		}
	}

	&__step4 {
		&__payment {
			border-left: 3px solid $primary-grey-border;
			padding-left: 50px;

			&__payTypes {
				height: 80px;
			}
		}
	}

	&__stepActions {
		padding: 20px;
	}
}

@media only screen and (max-width: 600px) {
	.create-app {
		&__step2 {
			&__calendarsection {
				width: 100%;
			}
			&__calendar {
				width: 100% !important;
			}
		}
	}
}
