<div fxLayoutAlign="center center" fxlayout="column" style="height: 100%">
	<div
		fxFlex="750px"
		fxLayout.lt-md="column"
		fxLayout="row"
		class="mw-reset-password-profile"
	>
		<mat-card fxFlex class="p-t-20 p-l-20 p-r-20">
			<mat-card-title class="p-l-20 p-b-10" fxLayoutAlign="center center"
				>Reset Password</mat-card-title
			>
			<mat-divider></mat-divider>
			<mat-card-subtitle
				fxLayoutAlign="center center"
				class="p-t-40 p-l-20"
				>Lorem Ipsum has been the industry's standard dummy text
				ever</mat-card-subtitle
			>
			<mat-card-content>
				<div
					fxLayout="column"
					fxLayout.lt-sm="column"
					class="mw-reset-password-profile__htitle m-t-65 m-b-100"
					fxLayoutAlign="center center"
				>
					<div
						fxlayout="row"
						class="mw-reset-password-profile"
						fxLayoutAlign="center center"
						*ngIf="isShow"
					>
						<mat-form-field appearance="outline" fxFlex="236px">
							<mat-label>Enter Verification Code </mat-label>
							<input matInput [(ngModel)]="code" type="text" />
						</mat-form-field>
					</div>
					<div
						fxlayout="row"
						fxLayoutAlign="center center"
						class="mw-reset-password-profile"
					>
						<mat-form-field appearance="outline">
							<mat-label>Enter New Password </mat-label>
							<input
								matInput
								[(ngModel)]="newPassword"
								[type]="pwhide ? 'password' : 'text'"
							/>
							<button
								mat-icon-button
								matSuffix
								(click)="pwhide = !pwhide"
								[attr.aria-label]="'Hide password'"
								[attr.aria-pressed]="pwhide"
							>
								<mat-icon
									>{{pwhide ? 'visibility_off' :
									'visibility'}}</mat-icon
								>
							</button>
						</mat-form-field>
					</div>
					<div
						fxlayout="row"
						fxLayoutAlign="center center"
						class="mw-reset-password-profile"
					>
						<mat-form-field appearance="outline">
							<mat-label>Confirm Password </mat-label>
							<input
								matInput
								[(ngModel)]="confirmPassword"
								[type]="hide ? 'password' : 'text'"
							/>
							<button
								mat-icon-button
								matSuffix
								(click)="hide = !hide"
								[attr.aria-label]="'Hide password'"
								[attr.aria-pressed]="hide"
							>
								<mat-icon
									>{{hide ? 'visibility_off' :
									'visibility'}}</mat-icon
								>
							</button>
						</mat-form-field>
					</div>
					<div
						*ngIf="newPassword !== confirmPassword"
						style="
							color: red;
							font-size: 12px;
							margin-top: -10px;
							margin-bottom: 8px;
						"
					>
						New Password and Confirm Password must be Same.
					</div>
				</div>
			</mat-card-content>
			<mat-divider></mat-divider>
			<div
				fxLayout="row"
				fxLayout.lt-sm="column"
				class="mw-reset-password-profile__htitle"
				fxLayoutAlign="center center"
				class="p-t-15"
			>
				<div>
					<button
						[disabled]="newPassword !== confirmPassword || newPassword==='' || confirmPassword ===''"
						mat-raised-button
						color="primary"
						(click)="reset()"
					>
						Reset
					</button>
				</div>
			</div>
		</mat-card>
	</div>
</div>
