@import 'src/app/@theme/colors';
.mw-reset-password-profile {
	&__title {
		color: $primary-grey-g2;
		font-weight: 600;
	}
	&__htitle {
		font-size: 14px;
		color: $primary-grey-g2;
		font-weight: 600;
	}
}
